<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Добавление охотника</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form th:action="${'/oko/add'}" method="post">
  <input type="text" name="name" placeholder="Введите имя человека">
  <select  name="number">
    <div th:each="pro : ${license}">
      <option th:text="${pro.license}"></option>
    </div>
  </select>
  <br>
  <button type="submit">Добавить охотника</button>
</form>
</body>
</html>